<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding ion-text-center">
  <div>
  <h1>You have placed your order!</h1>
  <h5>Scan this QR Code at the takeaway lane and keep your payment method ready.</h5>
  <img src="../../assets/imgs/qr.png">
  <ion-button
              [routerLink]="['/tabs/tab1']"
              class="ion-activatable ripple-parent">
              Continue Shopping!
              </ion-button>
            </div>
</ion-content>
