<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="fusionFunction()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list *ngFor="let item of cartItems; let i=index">
            <!-- <div *ngIf="i > 2"> -->
            <ion-item (click)="presentToast()">
              <ion-thumbnail slot="start">
                <img src="{{item.item_img}}">
              </ion-thumbnail>
              <ion-label>
                <h2>{{item.item_name}}</h2>
                <!-- <p>${{item.item_price}}</p> -->
                <p>${{item.id}}</p>
              </ion-label>
            </ion-item>
          <!-- </div> -->
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
