<ion-app>
  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          STAPLES - Takeaway
        </ion-title>
      </ion-toolbar>
    </ion-header>
        <ion-content>
          <ion-list>
            <ion-item lines="none" routerLink="tabs/tab1">
              <ion-icon name="business" slot="start"></ion-icon>
              <ion-label>Available Items</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/newreq">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Make A Requests</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/myreq">
              <ion-icon name="checkbox" slot="start"></ion-icon>
              <ion-label>My Requests</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/location">
              <ion-icon name="map" slot="start"></ion-icon>
              <ion-label>Stores Nearby</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
